header{
    margin-left: 30px;
}


img{
    height: 30px;
    width: 30px;
    margin: 3px;
    border-radius: 50%;
}

ul{
    list-style-type:none
}

.info{
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 70px;
    display: flex;
    flex-wrap: wrap;
}

.myphoto{
    flex: 1;
    height: 300px;
    width: 200px;
    float: left;
    margin:30px;
    border-radius: 0%;
}

.information{
    flex: 4;
    justify-content: space-around;
}

body{
    background-color: cornsilk;
    /* background-image: url('https://wallpaperaccess.com/full/1134447.jpg'); */
}

#imageHW2{
    margin: 10px;
    border-radius: 0%;
    height: auto;
    width: auto;
}

#buttonHW2{
    border-radius: 10%;
    padding: 10px;
    background-color: dodgerblue;
    color: azure;
    transition-duration: 0.4s;
    cursor: auto;
    margin-left: 100px;
}

#buttonHW2:hover{
    background-color: #4CAF50; /* Green */
    color: white;

}

#Hw2{
    margin: auto;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
